
@{
    ViewBag.Title = "AboutUs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Assets/css/about.css" rel="stylesheet" />
<div class="container-fluid" id="cicekci">
    <br />
    <img src="~/Assets/photo/aboutus/annie-spratt-gJ3EpFlw_ss-unsplash.jpg" />
    @*<div class="container">*@
    <br />
    <div>
        <hr />
        <h2>Hikayemiz</h2>
        <hr />
        <p>
            What is Lorem Ipsum?
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum
            What is Lorem Ipsum?
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum
        </p>
    </div>
    <div>
        <br />
        <img src="~/Assets/photo/aboutus/raychan-EuNL2GostOo-unsplash.jpg" />
        <br />
        <hr />
        <h2>İşini Aşkla Yapan Ekibimiz</h2>
        <hr />
        <p>
            What is Lorem Ipsum?
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum
            What is Lorem Ipsum?
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum
        </p>
    </div>
    <div>
        <br />
        <img src="~/Assets/photo/aboutus/annie-spratt-PpgFojm7iHQ-unsplash.jpg" />
        <br />
        <hr />
        <h2>Sizin İçin Neler Yapıyoruz</h2>
        <hr />
        <p>
            What is Lorem Ipsum?
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum
            What is Lorem Ipsum?
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum
        </p>
    </div>
</div>
<br />
@*</div>*@

<!-- Alt Resim Bölümü -->

<div class="container" >
    <div class="row" id="altfoto">
        <a class="col-2" href="javascript:void();">
            <img src="~/Assets/photo/aboutus/waldemar-brandt-q3RGXuBc_SU-unsplash.jpg" class=" w-100"/>
        </a>
        <a class="col-2" href="javascript:void();">
            <img src="~/Assets/photo/aboutus/tracey-hocking-JDVD4OAfaXQ-unsplash.jpg" class=" w-100"/>
        </a>
        <a class="col-2" href="javascript:void();">
            <img src="~/Assets/photo/aboutus/raamin-ka-9j8WjP65GJc-unsplash.jpg" class=" w-100"/>
        </a>
        <a class="col-2" href="javascript:void();">
            <img src="~/Assets/photo/aboutus/zoe-schaeffer-4uXiNNDJmUc-unsplash.jpg" class=" w-100"/>
        </a>
        <a class="col-2" href="javascript:void();">
            <img src="~/Assets/photo/aboutus/zoe-schaeffer-eoAubhPm6H8-unsplash.jpg" class=" w-100"/>
        </a>
        <a class="col-2" href="javascript:void();">
            <img src="~/Assets/photo/aboutus/rikonavt-03CBKvuP-48-unsplash.jpg" class=" w-100"/>
        </a>
    </div>
</div>