
@{
    ViewBag.Title = "Bundles";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Assets/css/bundles.css" rel="stylesheet" />
<hr />
<h2>Hayatınıza Renk Katan İnsanlara Özel Demetler</h2>
<hr />
<div class="container-fluid">
    <div class="row" id="renkkatan">
        <div class="col-md-2">
            <div class="card">
                <img class="card-img-top" src="~/Assets/photo/bundles/alex-loup-8vsLtu3FyWA-unsplash.jpg" />
                <div class="card-body">
                    <div class="card-title">
                        <h3>Devetabanı Çiçeğimiz <br /> 65₺</h3>
                    </div>
                    <a href="/HomePage/Order" class="btn">Sipariş Ver</a>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="card">
                <img class="card-img-top" src="~/Assets/photo/bundles/icons8-team-j7CBMBcxZeo-unsplash.jpg" />
                <div class="card-body">
                    <div class="card-title">
                        <h3>Devetabanı Çiçeğimiz <br /> 75₺</h3>
                    </div>
                    <a href="/HomePage/Order" class="btn">Sipariş Ver</a>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="card">
                <img class="card-img-top" src="~/Assets/photo/bundles/jessie-daniella-aiNU4cA4UzQ-unsplash.jpg" />
                <div class="card-body">
                    <div class="card-title">
                        <h3>Devetabanı Çiçeğimiz <br /> 75₺</h3>
                    </div>
                    <a href="/HomePage/Order" class="btn">Sipariş Ver</a>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="card">
                <img class="card-img-top" src="~/Assets/photo/bundles/peter-bucks-wjdHhmiS2Pk-unsplash (1).jpg" />
                <div class="card-body">
                    <div class="card-title">
                        <h3>Devetabanı Çiçeğimiz <br /> 75₺</h3>
                    </div>
                    <a href="/HomePage/Order" class="btn">Sipariş Ver</a>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="card">
                <img class="card-img-top" src="~/Assets/photo/bundles/tracey-hocking-atda-7lh91k-unsplash.jpg" />
                <div class="card-body">
                    <div class="card-title">
                        <h3>Devetabanı Çiçeğimiz <br /> 75₺</h3>
                    </div>
                    <a href="/HomePage/Order" class="btn">Sipariş Ver</a>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="card">
                <img class="card-img-top" src="~/Assets/photo/bundles/annie-spratt-WBpr_yH0Frg-unsplash.jpg" />
                <div class="card-body">
                    <div class="card-title">
                        <h3>Devetabanı Çiçeğimiz <br /> 75₺</h3>
                    </div>
                    <a href="/HomePage/Order" class="btn">Sipariş Ver</a>
                </div>
            </div>
        </div>
    </div>
</div>
<br />
<hr />
<h2>Özel Günlerinizi Renklendirecek Demetler</h2>
<hr />
<br />
<div class="container-fluid">
    <div class="row" id="ozelgun">
        <div class="col-md-2">
            <div class="card">
                <img class="card-img-top" src="~/Assets/photo/bundles/valerie-elash-q-98m0jdm0g-unsplash.jpg" />
                <div class="card-body">
                    <div class="card-title">
                        <h3>Devetabanı Çiçeğimiz <br /> 65₺</h3>
                    </div>
                    <a href="/HomePage/Order" class="btn">Sipariş Ver</a>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="card">
                <img class="card-img-top" src="~/Assets/photo/bundles/beatriz-perez-moya-SXHOGEudn7k-unsplash.jpg" />
                <div class="card-body">
                    <div class="card-title">
                        <h3>Devetabanı Çiçeğimiz <br /> 75₺</h3>
                    </div>
                    <a href="/HomePage/Order" class="btn">Sipariş Ver</a>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="card">
                <img class="card-img-top" src="~/Assets/photo/bundles/thomas-william-T4sn1Nw1f98-unsplash.jpg" />
                <div class="card-body">
                    <div class="card-title">
                        <h3>Devetabanı Çiçeğimiz <br /> 75₺</h3>
                    </div>
                    <a href="/HomePage/Order" class="btn">Sipariş Ver</a>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="card">
                <img class="card-img-top" src="~/Assets/photo/bundles/davids-kokainis-5B5ftZCkIq0-unsplash.jpg" />
                <div class="card-body">
                    <div class="card-title">
                        <h3>Devetabanı Çiçeğimiz <br /> 75₺</h3>
                    </div>
                    <a href="/HomePage/Order" class="btn">Sipariş Ver</a>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="card">
                <img class="card-img-top" src="~/Assets/photo/bundles/james-bold-Hg1rGuu9qGw-unsplash.jpg" />
                <div class="card-body">
                    <div class="card-title">
                        <h3>Devetabanı Çiçeğimiz <br /> 75₺</h3>
                    </div>
                    <a href="/HomePage/Order" class="btn">Sipariş Ver</a>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="card">
                <img class="card-img-top" src="~/Assets/photo/bundles/thomas-ae-295NLwGdrKM-unsplash.jpg" />
                <div class="card-body">
                    <div class="card-title">
                        <h3>Devetabanı Çiçeğimiz <br /> 75₺</h3>
                    </div>
                    <a href="/HomePage/Order" class="btn">Sipariş Ver</a>
                </div>
            </div>
        </div>
    </div>
</div>
<br />
<hr />
<h2>Bulunduğunuz Ortamları Renklendirecek Demetler</h2>
<hr />
<br />
<div class="container-fluid">
    <div class="row" id="ortamcicegi">
        <div class="col-md-2">
            <div class="card">
                <img class="card-img-top" src="~/Assets/photo/bundles/charlotte-harrison-UxAeB7kX5SY-unsplash.jpg" />
                <div class="card-body">
                    <div class="card-title">
                        <h3>Devetabanı Çiçeğimiz <br /> 65₺</h3>
                    </div>
                    <a href="/HomePage/Order" class="btn">Sipariş Ver</a>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="card">
                <img class="card-img-top" src="~/Assets/photo/bundles/monika-grabkowska-ngasdS14AqE-unsplash.jpg" />
                <div class="card-body">
                    <div class="card-title">
                        <h3>Devetabanı Çiçeğimiz <br /> 75₺</h3>
                    </div>
                    <a href="/HomePage/Order" class="btn">Sipariş Ver</a>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="card">
                <img class="card-img-top" src="~/Assets/photo/bundles/federica-giusti-T5FVDQ8q-fI-unsplash.jpg" />
                <div class="card-body">
                    <div class="card-title">
                        <h3>Devetabanı Çiçeğimiz <br /> 75₺</h3>
                    </div>
                    <a href="/HomePage/Order" class="btn">Sipariş Ver</a>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="card">
                <img class="card-img-top" src="~/Assets/photo/bundles/kelly-sikkema-onRPn--yEY8-unsplash.jpg" />
                <div class="card-body">
                    <div class="card-title">
                        <h3>Devetabanı Çiçeğimiz <br /> 75₺</h3>
                    </div>
                    <a href="/HomePage/Order" class="btn">Sipariş Ver</a>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="card">
                <img class="card-img-top" src="~/Assets/photo/bundles/janine-meuche-iObKP38Kqag-unsplash.jpg" />
                <div class="card-body">
                    <div class="card-title">
                        <h3>Devetabanı Çiçeğimiz <br /> 75₺</h3>
                    </div>
                    <a href="/HomePage/Order" class="btn">Sipariş Ver</a>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="card">
                <img class="card-img-top" src="~/Assets/photo/bundles/monika-grabkowska-8ZOZ6hsEGg0-unsplash.jpg" />
                <div class="card-body">
                    <div class="card-title">
                        <h3>Devetabanı Çiçeğimiz <br /> 75₺</h3>
                    </div>
                    <a href="/HomePage/Order" class="btn">Sipariş Ver</a>
                </div>
            </div>
        </div>
    </div>
</div>
<br />
<hr />
<h2>Günlük Demetler</h2>
<hr />
<br />
<div class="container-fluid">
    <div class="row" id="gunluk">
        <div class="col-md-2">
            <div class="card">
                <img class="card-img-top" src="~/Assets/photo/bundles/annie-spratt-BV_DPoLkOdQ-unsplash.jpg" />
                <div class="card-body">
                    <div class="card-title">
                        <h3>Devetabanı Çiçeğimiz <br /> 65₺</h3>
                    </div>
                    <a href="/HomePage/Order" class="btn">Sipariş Ver</a>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="card">
                <img class="card-img-top" src="~/Assets/photo/bundles/tracey-hocking-atda-7lh91k-unsplash.jpg" />
                <div class="card-body">
                    <div class="card-title">
                        <h3>Devetabanı Çiçeğimiz <br /> 75₺</h3>
                    </div>
                    <a href="/HomePage/Order" class="btn">Sipariş Ver</a>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="card">
                <img class="card-img-top" src="~/Assets/photo/bundles/annie-spratt-C-3V6f4Pbbw-unsplash.jpg" />
                <div class="card-body">
                    <div class="card-title">
                        <h3>Devetabanı Çiçeğimiz <br /> 75₺</h3>
                    </div>
                    <a href="/HomePage/Order" class="btn">Sipariş Ver</a>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="card">
                <img class="card-img-top" src="~/Assets/photo/bundles/marten-bjork-M0KI9LoDBzo-unsplash.jpg" />
                <div class="card-body">
                    <div class="card-title">
                        <h3>Devetabanı Çiçeğimiz <br /> 75₺</h3>
                    </div>
                    <a href="/HomePage/Order" class="btn">Sipariş Ver</a>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="card">
                <img class="card-img-top" src="~/Assets/photo/bundles/sinziana-susa-JxXSzfelO7o-unsplash.jpg" />
                <div class="card-body">
                    <div class="card-title">
                        <h3>Devetabanı Çiçeğimiz <br /> 75₺</h3>
                    </div>
                    <a href="/HomePage/Order" class="btn">Sipariş Ver</a>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="card">
                <img class="card-img-top" src="~/Assets/photo/bundles/rikonavt-03CBKvuP-48-unsplash.jpg" />
                <div class="card-body">
                    <div class="card-title">
                        <h3>Devetabanı Çiçeğimiz <br /> 75₺</h3>
                    </div>
                    <a href="/HomePage/Order" class="btn">Sipariş Ver</a>
                </div>
            </div>
        </div>
    </div>
</div>


