
@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Assets/css/contact.css" rel="stylesheet" />

<!-- Bize Ulaşın Bölümü -->

<div class="container">
    <div class="row offset-4" id="orta">
        <div class="row offset-4" id="orta">
            <form>
                <div class="cols-md-4">
                    <div>
                        <br />
                        <h5><strong>BİZE ULAŞIN</strong></h5>
                        <br />
                    </div>
                </div>
                <div class="cols-md-4">
                    <div class="form-group">
                        <input type="text" class="form-control " placeholder="İsim*" />
                    </div>
                </div>
                <div class="cols-md-4">
                    <div class="form-group">
                        <input type="email" class="form-control " placeholder="Email*" />
                    </div>
                </div>
                <div class="cols-md-4">
                    <div class=" form-group">
                        <textarea class="form-control " placeholder="Mesaj*"></textarea>
                    </div>
                </div>
                <div class="cols-md-4">
                    <div class="form-group">
                        <button type="submit" class="btn form-control">GÖNDER</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <br />
</div>



