
@{
    ViewBag.Title = "Dealers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<link href="~/Assets/css/dealers.css" rel="stylesheet" />
<div class="container-fluid" id="subeler">
    <hr />
    <h2>İstanbul Şubemiz</h2>
    <hr />
    <br />
    <div class="row">
        <div class="col-md-6">
            <img src="~/Assets/photo/dealers/marcus-loke-lSNrDK0i1XY-unsplash.jpg" />
        </div>
        <div class="col-md-6">
            <img src="~/Assets/photo/dealers/marcus-loke-lSNrDK0i1XY-unsplash.jpg" />
        </div>
    </div>
    <div class="row">
        <address>5018. Sokak <br />Pınarlı Caddesi <br />Beykoz / İstanbul</address>
    </div>
    <br />
    <hr />
    <h2>Ankara Şubemiz</h2>
    <hr />
    <br />
    <div class="row">
        <div class="col-md-6">
            <img src="~/Assets/photo/dealers/micheile-henderson-6fB_A4R--E0-unsplash.jpg" />
        </div>
        <div class="col-md-6">
            <img src="~/Assets/photo/dealers/micheile-henderson-6fB_A4R--E0-unsplash.jpg" />
        </div>
    </div>
    <div class="row">
        <address>5018. Sokak <br />Pınarlı Caddesi <br />Beykoz / İstanbul</address>
    </div>
    <br />
    <hr />
    <h2>Paris Şubemiz</h2>
    <hr />
    <br />
    <div class="row">
        <div class="col-md-6">
            <img src="~/Assets/photo/dealers/ying-ge-Cwu-fU9-ddo-unsplash.jpg" />
        </div>
        <div class="col-md-6">
            <img src="~/Assets/photo/dealers/ying-ge-Cwu-fU9-ddo-unsplash.jpg" />
        </div>
    </div>
    <div class="row">
        <address>5018. Sokak <br />Pınarlı Caddesi <br />Beykoz / İstanbul</address>
    </div>
    <br />
    <hr />
    <h2>Venedik Şubemiz</h2>
    <hr />
    <br />
    <div class="row">
        <div class="col-md-6">
            <img src="~/Assets/photo/dealers/bohdan-maylove-fdIp7x6v84U-unsplash.jpg" />
        </div>
        <div class="col-md-6">
            <img src="~/Assets/photo/dealers/bohdan-maylove-fdIp7x6v84U-unsplash.jpg" />
        </div>
    </div>
    <div class="row">
        <address>5018. Sokak <br />Pınarlı Caddesi <br />Beykoz / İstanbul</address>
    </div>


</div>

