
@{
    ViewBag.Title = "PotFlowers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Assets/css/potflowers.css" rel="stylesheet" />
<hr />
<h2>Size Özel Saksı Çiçeklerimiz</h2>
<hr />
<div class="container-fluid">
    <div class="row" id="ozel">
        <div class="col-md-2">
            <div class="card">
                <img class="card-img-top" src="~/Assets/photo/potflowers/edgar-castrejon-GNiJJ10d6xM-unsplash.jpg" />
                <div class="card-body">
                    <div class="card-title">
                        <h3>Devetabanı Çiçeğimiz <br /> 65₺</h3>
                    </div>
                    <a href="/HomePage/Order" class="btn">Sipariş Ver</a>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="card">
                <img class="card-img-top" src="~/Assets/photo/potflowers/annie-spratt-5LD1pzFifU0-unsplash.jpg" />
                <div class="card-body">
                    <div class="card-title">
                        <h3>Devetabanı Çiçeğimiz <br /> 75₺</h3>
                    </div>
                    <a href="/HomePage/Order" class="btn">Sipariş Ver</a>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="card">
                <img class="card-img-top" src="~/Assets/photo/potflowers/simona-todorova-cJC2NmbkvHM-unsplash.jpg" />
                <div class="card-body">
                    <div class="card-title">
                        <h3>Devetabanı Çiçeğimiz <br /> 75₺</h3>
                    </div>
                    <a href="/HomePage/Order" class="btn">Sipariş Ver</a>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="card">
                <img class="card-img-top" src="~/Assets/photo/potflowers/natalia-y-Qin3ErJoMdA-unsplash.jpg" />
                <div class="card-body">
                    <div class="card-title">
                        <h3>Devetabanı Çiçeğimiz <br /> 75₺</h3>
                    </div>
                    <a href="/HomePage/Order" class="btn">Sipariş Ver</a>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="card">
                <img class="card-img-top" src="~/Assets/photo/potflowers/kelly-sikkema-LG9sSkKM27Y-unsplash.jpg" />
                <div class="card-body">
                    <div class="card-title">
                        <h3>Devetabanı Çiçeğimiz <br /> 75₺</h3>
                    </div>
                    <a href="/HomePage/Order" class="btn">Sipariş Ver</a>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="card">
                <img class="card-img-top" src="~/Assets/photo/potflowers/robert-wiedemann-2LdhYVhXaVI-unsplash.jpg" />
                <div class="card-body">
                    <div class="card-title">
                        <h3>Devetabanı Çiçeğimiz <br /> 75₺</h3>
                    </div>
                    <a href="/HomePage/Order" class="btn">Sipariş Ver</a>
                </div>
            </div>
        </div>
    </div>
</div>
<br />
<hr />
<h2>Evleriniz İçin Saksı Çiçeklerimiz</h2>
<hr />
<br />
<div class="container-fluid">
    <div class="row" id="ev">
        <div class="col-md-2">
            <div class="card">
                <img class="card-img-top" src="~/Assets/photo/potflowers/ajay-kumar-pasupuleti-R-0ER0LkYr4-unsplash.jpg" />
                <div class="card-body">
                    <div class="card-title">
                        <h3>Devetabanı Çiçeğimiz <br /> 65₺</h3>
                    </div>
                    <a href="/HomePage/Order" class="btn">Sipariş Ver</a>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="card">
                <img class="card-img-top" src="~/Assets/photo/potflowers/alexandra-gorn-1mPkRa-qM_U-unsplash.jpg" />
                <div class="card-body">
                    <div class="card-title">
                        <h3>Devetabanı Çiçeğimiz <br /> 75₺</h3>
                    </div>
                    <a href="/HomePage/Order" class="btn">Sipariş Ver</a>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="card">
                <img class="card-img-top" src="~/Assets/photo/potflowers/brina-blum-snwLIqx8jH8-unsplash.jpg" />
                <div class="card-body">
                    <div class="card-title">
                        <h3>Devetabanı Çiçeğimiz <br /> 75₺</h3>
                    </div>
                    <a href="/HomePage/Order" class="btn">Sipariş Ver</a>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="card">
                <img class="card-img-top" src="~/Assets/photo/potflowers/brina-blum-wATDAuB4Gto-unsplash.jpg" />
                <div class="card-body">
                    <div class="card-title">
                        <h3>Devetabanı Çiçeğimiz <br /> 75₺</h3>
                    </div>
                    <a href="/HomePage/Order" class="btn">Sipariş Ver</a>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="card">
                <img class="card-img-top" src="~/Assets/photo/potflowers/christin-hume-wFuMEEKKSf0-unsplash.jpg" />
                <div class="card-body">
                    <div class="card-title">
                        <h3>Devetabanı Çiçeğimiz <br /> 75₺</h3>
                    </div>
                    <a href="/HomePage/Order" class="btn">Sipariş Ver</a>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="card">
                <img class="card-img-top" src="~/Assets/photo/potflowers/jennifer-marcus-8zJPN0uSZww-unsplash.jpg" />
                <div class="card-body">
                    <div class="card-title">
                        <h3>Devetabanı Çiçeğimiz <br /> 75₺</h3>
                    </div>
                    <a href="/HomePage/Order" class="btn">Sipariş Ver</a>
                </div>
            </div>
        </div>
    </div>
</div>
<br />
<hr />
<h2>Ofisleriniz İçin Saksı Çiçeklerimiz</h2>
<hr />
<br />
<div class="container-fluid">
    <div class="row" id="ofis">
        <div class="col-md-2">
            <div class="card">
                <img class="card-img-top" src="~/Assets/photo/potflowers/beasty-nyC528rDfKQ-unsplash.jpg" />
                <div class="card-body">
                    <div class="card-title">
                        <h3>Devetabanı Çiçeğimiz <br /> 65₺</h3>
                    </div>
                    <a href="/HomePage/Order" class="btn">Sipariş Ver</a>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="card">
                <img class="card-img-top" src="~/Assets/photo/potflowers/samule-sun-cpP9T3HdrHg-unsplash.jpg" />
                <div class="card-body">
                    <div class="card-title">
                        <h3>Devetabanı Çiçeğimiz <br /> 75₺</h3>
                    </div>
                    <a href="/HomePage/Order" class="btn">Sipariş Ver</a>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="card">
                <img class="card-img-top" src="~/Assets/photo/potflowers/sincerely-media-4PMVNJeI3XU-unsplash.jpg" />
                <div class="card-body">
                    <div class="card-title">
                        <h3>Devetabanı Çiçeğimiz <br /> 75₺</h3>
                    </div>
                    <a href="/HomePage/Order" class="btn">Sipariş Ver</a>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="card">
                <img class="card-img-top" src="~/Assets/photo/potflowers/toa-heftiba-Hd9CYKjfpCs-unsplash.jpg" />
                <div class="card-body">
                    <div class="card-title">
                        <h3>Devetabanı Çiçeğimiz <br /> 75₺</h3>
                    </div>
                    <a href="/HomePage/Order" class="btn">Sipariş Ver</a>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="card">
                <img class="card-img-top" src="~/Assets/photo/potflowers/mike-marquez-Z6fFC5zVlkQ-unsplash.jpg" />
                <div class="card-body">
                    <div class="card-title">
                        <h3>Devetabanı Çiçeğimiz <br /> 75₺</h3>
                    </div>
                    <a href="/HomePage/Order" class="btn">Sipariş Ver</a>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="card">
                <img class="card-img-top" src="~/Assets/photo/potflowers/milada-vigerova-pdZ2BwpLyis-unsplash.jpg" />
                <div class="card-body">
                    <div class="card-title">
                        <h3>Devetabanı Çiçeğimiz <br /> 75₺</h3>
                    </div>
                    <a href="/HomePage/Order" class="btn">Sipariş Ver</a>
                </div>
            </div>
        </div>
    </div>
    <br />
    <hr />
    <h2>Bahçeleriniz İçin Saksı Çiçeklerimiz</h2>
    <hr />
    <br />
    <div class="container-fluid">
        <div class="row" id="bahce">
            <div class="col-md-2">
                <div class="card">
                    <img class="card-img-top" src="~/Assets/photo/potflowers/annie-spratt-5YhNtQBpkBo-unsplash.jpg" />
                    <div class="card-body">
                        <div class="card-title">
                            <h3>Devetabanı Çiçeğimiz <br /> 65₺</h3>
                        </div>
                        <a href="/HomePage/Order" class="btn">Sipariş Ver</a>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="card">
                    <img class="card-img-top" src="~/Assets/photo/potflowers/kwang-mathurosemontri-fY1ECB1RCd0-unsplash.jpg" />
                    <div class="card-body">
                        <div class="card-title">
                            <h3>Devetabanı Çiçeğimiz <br /> 75₺</h3>
                        </div>
                        <a href="/HomePage/Order" class="btn">Sipariş Ver</a>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="card">
                    <img class="card-img-top" src="~/Assets/photo/potflowers/markus-winkler-FIyFuVVvjgs-unsplash.jpg" />
                    <div class="card-body">
                        <div class="card-title">
                            <h3>Devetabanı Çiçeğimiz <br /> 75₺</h3>
                        </div>
                        <a href="/HomePage/Order" class="btn">Sipariş Ver</a>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="card">
                    <img class="card-img-top" src="~/Assets/photo/potflowers/markus-winkler-iwLtr27JLaY-unsplash.jpg" />
                    <div class="card-body">
                        <div class="card-title">
                            <h3>Devetabanı Çiçeğimiz <br /> 75₺</h3>
                        </div>
                        <a href="/HomePage/Order" class="btn">Sipariş Ver</a>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="card">
                    <img class="card-img-top" src="~/Assets/photo/potflowers/erda-estremera-6ZyLeconAsg-unsplash.jpg" />
                    <div class="card-body">
                        <div class="card-title">
                            <h3>Devetabanı Çiçeğimiz <br /> 75₺</h3>
                        </div>
                        <a href="/HomePage/Order" class="btn">Sipariş Ver</a>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="card">
                    <img class="card-img-top" src="~/Assets/photo/potflowers/victor-elvira-avalos-Ltw2rkbjJ4Q-unsplash.jpg" />
                    <div class="card-body">
                        <div class="card-title">
                            <h3>Devetabanı Çiçeğimiz <br /> 75₺</h3>
                        </div>
                        <a href="/HomePage/Order" class="btn">Sipariş Ver</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>